<!doctype html>
<meta charset="utf-8">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
  <table>
    <tr>
      <th>ハッシュ化されたパスワード</th>
      <td>{{ hashed_pass }}</dt>
    </tr>
    <tr>
      <th>確認</th>
      <td><input name="password" type="password"></td>
    </tr>
    <tr>
      <td><input type="submit" value="送信"></td>
    </tr>
  </table>
</form>
