# ハイフンなし
{% for i in ["A", "B"] %}
  {% for j in ["a", "b"] %}
    {{ i }} {{ j }}
  {% endfor %}
{% endfor %}

# forのあとにハイフン
{% for i in ["A", "B"] -%}
  {% for j in ["a", "b"] -%}
    {{ i }} {{ j }}
  {% endfor %}
{% endfor %}

# 内側のendforのあとにもハイフン
# (文字出力の直前にハイフン)
{% for i in ["A", "B"] -%}
  {% for j in ["a", "b"] -%}
    {{ i }} {{ j }}
  {% endfor -%}
{% endfor %}
