<!doctype html>
<meta charset="utf-8">

<form method="post">
  {{ form.hidden_tag() }}
  <dl>
    <dt>{{ form.username.label }}
    <dd>{{ form.username }}
    {% if form.username.errors %}
      <ul>
      {% for error in form.username.errors %}
        <li class="error">{{ error }}
      {% endfor %}
      </ul>
    {% endif %}

    <dt>{{ form.mailaddr.label }}
    <dd>{{ form.mailaddr }}
    {% if form.mailaddr.errors %}
      <ul>
      {% for error in form.mailaddr.errors %}
        <li class="error">{{ error }}
      {% endfor %}
      </ul>
    {% endif %}

    <dt>{{ form.password.label }}
    <dd>{{ form.password }}
    {% if form.password.errors %}
      <ul>
      {% for error in form.password.errors %}
        <li class="error">{{ error }}
      {% endfor %}
      </ul>
    {% endif %}

    <dt>{{ form.confirm.label }}
    <dd>{{ form.confirm }}
    {% if form.confirm.errors %}
      <ul>
      {% for error in form.confirm.errors %}
        <li class="error">{{ error }}
      {% endfor %}
      </ul>
    {% endif %}
  </dl>
  {{ form.submit }}
</form>
