<!doctype html>
<meta charset="utf-8">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<button onclick="location.href='{{ url_for('index') }}'">Top</button>
<table border="1">
  <tr>
    <th>ユーザー名</th>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td>{{ user.mailaddr }}</td>
  </tr>
  <tr>
    <th>パスワード</th>
    <td>{{ user.password }}</td>
  </tr>
</table>
<button onclick="location.href='{{ url_for('update_email') }}'">メールアドレス更新</button>
<button onclick="location.href='{{ url_for('update_password') }}'">パスワード更新</button>
