<!doctype html>
<meta charset="utf-8">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="post">
  {{ form.hidden_tag() }}
  <dl>
    <dt>{{ form.current_password.label }}
    <dd>{{ form.current_password }}

    <dt>新しいパスワード
    <dd>{{ form.password }}
    {% if form.password.errors %}
      <ul>
      {% for error in form.password.errors %}
        <li class="error">{{ error }}
      {% endfor %}
      </ul>
    {% endif %}

    <dt>{{ form.confirm.label }}
    <dd>{{ form.confirm }}
    {% if form.confirm.errors %}
      <ul>
      {% for error in form.confirm.errors %}
        <li class="error">{{ error }}
      {% endfor %}
      </ul>
    {% endif %}
  </dl>
  <p>{{ form.submit }}
</form>
